<li id="account_summary" class="dropdown">
  <a class="dropdown-toggle" href="#" data-toggle="dropdown">
    <span id="total_assets" data-title="<%= t('.title') %>"></span>
  </a>
  <div class="dropdown-menu text-right">
    <p class="text-right">
      <ul class="list-inline text-right"></ul>
    </p>
    <table class="table">
      <tbody>
        <% @data.fetch(:my_accounts).each do |account| %>
          <% market = @data.fetch(:current_market) %>
          <% ccy = account.fetch(:currency) %>
          <tr class="<%= ccy.fetch(:code) %> <%= [market.fetch(:ask_unit), market.fetch(:bid_unit)].include?(ccy[:code]) ? '' : 'hide' %>">
            <td class="account-symbol col-xs-6 text-center">
              <div class="currency-logo" style="background-image: url('<%= ccy.fetch(:icon_url) %>');"></div>
              <div><%= ccy[:code].upcase %></div>
            </td>
            <td class="account-balance col-xs-18 text-right">
              <span class="amount" data-title="<%= t('.amount') %>"><%= account.fetch(:amount) %></span>
              <br>
              <span class="locked" data-title="<%= t('.locked') %>"><%= account.fetch(:locked) %></span>
            </td>
          </tr>
        <% end %>
        <tr>
          <td class="text-center" colspan=2>
            <a class="view_all_accounts" data-hide-text="<%= t('.hide_all_accounts') %>" data-show-text="<%= t('.view_all_accounts') %>" href="#">
              <%= t('.view_all_accounts') %>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</li>
