<li id="settings" class="dropdown">
  <a class="dropdown-toggle" href="#" data-toggle="dropdown">
    <i class="fa fa-user"></i><span><%= @data.fetch(:current_member).fetch(:email) %></span>
  </a>
  <ul class="dropdown-menu">
    <li>
      <a>
        <input type="checkbox" name="sound-checkbox" data-size="mini" data-on-color="success">
      </a>
    </li>
    <li>
      <a>
        <input type="checkbox" name="notification-checkbox" data-size="mini" data-on-color="success">
      </a>
    </li>
    <li>
      <a href=<%= generate_ui_url('funds') %> target="_blank">
        <i class="fa fa-key"></i>
        <span><%= t('.funds') %></span>
      </a>
    </li>
    <li>
      <a href=<%= generate_ui_url('settings') %> target="_blank">
        <i class="fa fa-wrench"></i>
        <span><%= t('.settings') %></span>
      </a>
    </li>
    <li>
      <a href=<%= generate_ui_url('history/orders') %> target="_blank">
        <i class="fa fa-history"></i>
        <span><%= t('.history') %></span>
      </a>
    </li>
    <li>
      <a href=<%= generate_ui_url('signout') %>>
        <i class="fa fa-sign-out"></i>
        <span><%= t('.signout') %></span>
      </a>
    </li>
  </ul>
</li>
